@model academica.Models.Alumno

@{
    ViewData["Title"] = "Delete";
}
<h3>Esta seguro de eliminar el registro de alumno?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idAlumno" />
        <input type="submit" value="Eliminar Alumno" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Regresar al listado de alumnos</a>
    </form>
</div>
